$custom-file-text: ();
@import '../../styles/themes';
@import 'node_modules/@nebular/theme/styles/global/breakpoints';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f3f1 !important;
}

 nav.fixed{
  background-color: #f5f3f1 !important;
}
