
@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  ul { list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: space-between;
    li { display: inline-block; margin-right: 10px; line-height:0;
      p { display: inline-block; vertical-align: top; font-size: .7em; margin: 0; line-height: 1.4em }
    }
  }
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    margin-right: 4px;
    margin-top: 0;
  }
}


::ng-deep{
  .am5exporting-menu.am5exporting-align-right{
    right: 20px !important;
  }
}

