@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=20B7A896-0E13-441D-ACAC-627E68EF911B

//npm.pkg.github.com/:_authToken=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
@koerberdigitaldevteam:registry=https://npm.pkg.github.com
