@font-face {
  font-family: "koerber";
  font-weight: normal;
  src : url("NotoSansDisplay/NotoSansDisplay-Regular.ttf");
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "koerber-semibold";
  font-weight: normal;
  src : url("NotoSansDisplay/NotoSansDisplay-SemiBold.ttf");
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "koerber-bold";
  font-weight: normal;
  src : url("NotoSansDisplay/NotoSansDisplay-Bold.ttf");
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "koerber-light";
  font-weight: normal;
  src : url("NotoSansDisplay/NotoSansDisplay-Light.ttf");
  -webkit-font-smoothing: antialiased;
}
