.card-title{
    margin: 0px;
    font-family: nb-theme(font-family-semibold);
    font-size: 18px;
}

.nb-font{
  // font-family: nb-theme(font-family-regular);
}

.nb-font-semibold{
  font-family: nb-theme(font-family-semibold);
}