table.dataTable {
  th { white-space: nowrap; }
}
.hidden { display: none }

:focus {
  outline:none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border-width: 0px !important;
}

tbody {
  display:block;
  height:550px;
  overflow:auto;
  overflow-x: hidden;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;/* even columns width , fix width of table too*/
}
th{
  vertical-align: middle !important;
  padding: 10px 10px !important;
}
thead {
  // width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.nb-theme-texas [nbButton].appearance-ghost.status-primary[disabled],
.nb-theme-texas [nbButton].appearance-ghost.status-primary.btn-disabled {
  background-color: none!important;
}

