@import '../../../@theme/styles/themes';

@include nb-install-component() {

  h5 {
    font-size: 1.375rem;
    font-family: nb-theme(font-family-semibold);
  }

  [nbButton] {
    background-color: nb-theme(button-background-color);
    text-transform: capitalize;
  }

  .mainContainer{
    background-color: white;
    margin-top: 16px;
  }

  .back-button {
    margin-bottom: 0px;
    background-color: transparent;
    border-radius: 1.5rem;
    font-family: nb-theme(font-family-semibold);
    color: nb-theme(color-primary-default);
    border-color: nb-theme(color-primary-default-border);
    border-width: 1px;
    line-height: 1.3rem;
    padding-top:5px;
    padding-bottom:5px; 
  }

}

