@import '../../../../../../@theme/styles/themes';

@include nb-install-component() {
  ul { list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: space-between;
    li { display: inline-block; margin-right: 10px; line-height:0;
      p { display: inline-block; vertical-align: top; font-size: .7em; margin: 0; line-height: 1.4em }
    }
  }
  .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius:25%;
    margin-left: 0;
    margin-right: 4px;
    margin-top: 0;
  }

  .legend {
    padding-top: 20px;
  }

  .legend-description {
    font-size: 14px !important;
  }

  .title-chart {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .dividing-line{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid;
    border-color: grey;
  }
  .noData {
    font-size: 22px;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }

  :focus {
    outline:none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-width: 0px !important;
  }
}
