.first-div-align{
    min-width: 180px ;
    float: right;
    font-family: nb-theme(font-family-light);
}

.second-div-align{
    width: 150px;
    float: right;
    font-family: nb-theme(font-family-semibold);
    font-size: medium;
}

.card-title{
    margin: 5px;
    font-family: nb-theme(font-family-semibold);
    font-size: 18px;
  }