<nb-card [nbSpinner]="isLoading === true" nbSpinnerSize="giant" nbSpinnerStatus="primary" >
  <nb-card-header>
    <h5 class="card-title d-flex">
      {{ 'SHARED.Downtime_alarm' | translate }}
    </h5>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12">
        <!-- <ngx-oee-chart [componentData]="componentData" [chartId] = "chartId"></ngx-oee-chart> -->

        <ngx-alarm-chart  style= "margin: 0 auto;"
                                    [chartId]= "chartId"
                                    [dateStart]="componentData?.start" [dateEnd]="componentData?.end"
                                    [chartData]="componentData?.chartData"
                                    [rowNumberToShow]="componentData?.rowNumberToShow"
                                    [machinePath]="machinePath"
                                    [serverError]="serverError"
                                    [isLoading]="isLoading"
                                    [noData]="noData"
                                    [status]=componentData?.status
      ></ngx-alarm-chart>

      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button (mousedown)=' goToDetails() ' [disabled]="componentData?.chartData.length === 0 || noData === true || isLoading === true || serverError === true" nbButton style="float: right;" class= "appearance-filled tertiary"  size="small">
      {{ 'COMMON.Show_details' | translate }} <nb-icon icon="chevron-right-outline"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>

