@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    font-family: nb-theme(font-family-semibold);
    padding-bottom: 0px;
    padding-top: 8px;
    border: none;
  }
  nb-card {
    padding-left: 0px;
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    background-color: white;//nb-theme(color-primary-500);
  }

  nb-card-body {
    padding-left: 0;
    padding-right: 0;
  }

  nb-card-footer {
    border: none;
    padding-top: 0px;
    padding-bottom: 8px;
    border-top: 0px;
  }

  .details {
    font-size:14px;
    color:nb-theme(blue-color);
    justify-content: flex-end;
    display: flex;
    float: right;
    }

    .card-title{
      margin: 0px;
      font-family: nb-theme(font-family-semibold);
      font-size: 18px;
    }


}
