:host {
  display: block;
}

mat-form-field {
  display: block;

  label, mat-radio-button {
    margin-right: 1rem;
  }

  textarea {
    min-height: 3rem;
  }
}

:host ::ng-deep {
  .mat-badge-content { background: #000!important; }
  .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content { margin-right: -10px }
}
