<form [formGroup]="formGroup">
    <mat-form-field>

      <input (change)=" onFieldChange($event, processCellPath, row) " ngDefaultControl [readonly]="readonly" type="text"
      [formControlName]="parameterDefinitionName + '_' + path +'_formField'"
      [disabled]="disabled" matInput placeholder="">
      <mat-error *ngIf="formGroup?.controls[parameterDefinitionName + '_' + path + '_formField']?.hasError('required')">
        {{ 'COMMON.Field_is_required' | translate }}
      </mat-error>
      <mat-error *ngIf="formGroup?.controls[parameterDefinitionName + '_' + path + '_formField']?.hasError('value')">
        {{ 'COMMON.Field_value_must_be_a_number_greater_than_zero' | translate }}
      </mat-error>

  </mat-form-field>
</form>
