@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  h5 { font-family: nb-theme(font-family-semibold); }
  :host { min-height:20rem; }

  button {
    width: 100%;
    padding-top:7px !important;
    padding-bottom:7px !important;

  }

  .warning {
    // background-color: #fff;
     color:  #ffe32f;
     float:right
   }
   
   .transparent, .transparent>*, .warning.transparent { color: transparent!important; background:transparent !important }
   


}
